*{
  margin: 0;
  padding: 0;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), url(https://www.sinch.com/sites/default/files/styles/x_large/public/image/2021-08/Transportation%20green%20background_0.png?itok=NgkWTVvg));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}